.headerberanda h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
    background-color: #e68aa3;
    text-align: left;
    padding: 26px;
    color: #fff;
    
}
.Beranda{
    display: flex;
    align-items: center;
}
.Beranda img {
       width:250px;
       height: auto;
       margin-left: 50px;
}
.judul{
    font-size: 30px;
}
.isiberanda{
    text-align: justify;
    line-height: 1.5; 
    font-size: 23px;
}
.list-artikel li{
    display: flex;
    align-items: center;
}
.list-artikel img {
    width: 250px;
    height: auto;
}
.list-artikel h2{
    font-size: 30px;
    margin-left: 20px;
}
.list-artikel p{
    font-size: 20px;
}

.tentang-kami h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
    background-color: #e68aa3;
    text-align: left;
    padding: 26px;
    color: #fff;

}
.isi-tentangkami{
    display: flex;
    align-items: center;
}
.isi-tentangkami h2{
    font-size: 50px;
    margin: 0;

}
.isi-tentangkami img{
    width: 600px;
    margin-left: 400px;

}
.isi-tentangkami p{
    margin: 0;
    font-size: 20px;

}
.KolomSearch {
    float: left; /* Menempatkan kotak pencarian di sebelah kanan */
    margin-right: 10px;
    margin-bottom: 8px; /* Memberikan margin atas untuk penyesuaian */
}

.KolomSearch input {
    padding: 15px;
    margin-top: 1px;
    margin-right: 2px;
    border: 2px, black;
}

.KolomSearch button {
    padding: 6px;
    margin-top: 3px;
    background: #e68aa3;
    color: white;
    border: bl;
    cursor: pointer;
}

nav {
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin-top: 1px;
    padding: 0;
}

nav li {
    float: right;
    margin-right: 20px;
    margin-top: 1px;
}

nav a {
    display: block;
    color: #e68aa3;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
nav a:hover {
    background-color: #5d5460;
    transition: background-color 0.3s;
}
header{
    margin-top: 55px;
}
header h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
    background-color: #e68aa3;
    text-align: center;
    padding: 26px;
    color: #fff;
}

header img {
    max-width: 100%;
    height: auto;
    max-height: 300px;
    display: block;
    margin: 0 auto;

}
.isi-website h2{
font-size: 30px;
}

.isi-website p {

    text-align: justify;
    line-height: 1.5; 
    font-size: 23px;
}
.isi-website ol {
    font-size: 20px;

}
.tabel h2{
    text-align: center;
}
table{
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.tabel th, td {
    border: 1px solid #030000;
    padding: 10px;
    text-align: center;
}

.tabel th {
    background-color: #e68aa3;
    color: white;
}

.tabel tr:nth-child(even) {
    background-color: #f9f9f9;
}
footer {
    background-color: #323030;
    color: white;
    padding: 20px;
}

.kritik-saran {
    max-width: 300px;
    margin: 0 auto;
}

.kritik-saran h3 {
    color: #e68aa3;
}

form {
    display: grid;
    gap: 20px;
}

textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

button[type="button"] {
    background-color: #e68aa3;
    color: white;
    padding: 20px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #e68aa3;
}


